body {
    background-color: darkslategray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#booklist {
    display:grid;
    grid-template: repeat(6,25vh) / repeat(auto-fill, minmax(100px,15vw));
}

.bookDisplay {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    padding:12px;
    margin:12px;
    background-color: lightgray;
    align-items:center;
    box-shadow: 4px 4px 4px black;
    text-align:center;
}

.title {
    font-weight: bold;
    font-size:medium;
    text-decoration: underline;
}

.author {
    font-weight: 400;
    font-style: italic;
}

.hasnotread {
    background-color: palevioletred;
}

.hasread {
    background-color:aquamarine;
}

.readButton {
    max-width: 10vw;
}

#footer {
    position:fixed;
    bottom:0;
    left:0;
    background-color:cadetblue;
    width:100vw;

}

form {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding:12px;
}

.submitBtn {
    background-color: paleturquoise;
    font-weight:bold;
    font-size:large;
    border-radius:1rem;
    box-shadow: 4px 4px 4px black;
}
